# Секретные данные (КРИТИЧЕСКИ ВАЖНО)
.env

# Временные файлы Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Настройки редакторов (VS Code, PyCharm)
.vscode/
.idea/

# Базы данных (если будем юзать локальные файлы для тестов)
*.sqlite3
*.db

# Логи
*.log
